* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

$margin-sections: 1.875rem;


/* Defino los estilos que comparten los elementos p, span, th y td */
p,
span,
th,
td {
    color: #504c49;

    font: {
        family: Outfit;
    }

    line-height: 1.5625rem;
}


/* Defino los estilos que comparten las secciones y algunos de sus elementos hijos. */
section {

    margin: {
        top: $margin-sections;
    }

    padding: {
        bottom: $margin-sections;
    }

    border-bottom: 1px solid #e0e0e0;

    h2 {

        font: {
            family: 'young serif';
            size: 1.875rem;
            weight: 400;
        }

        color: #834337;

        margin: {
            bottom: 1.25rem;
        }
    }

    ul,
    ol {
        margin: {
            left: 1.5625rem;
        }
    }
}


/* Defino los estilos que comparten los elementos li.*/
li {
    padding: {
        left: 1.25rem;
        bottom: .9375rem;
    }

    &::marker {
        font: {
            family: Outfit;
            weight: 600;
        }
    }

    color: #834337;
}



/* Defino los estilos para el body de la pagina. */
body {

    background: #f3e5d8;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: {
        top: 7.5rem;
        bottom: 7.5rem;
    }
}

/* Defino los estilos para el elemento main, para la imagen y el elemento h1.*/
main {

    width: 46.0625rem;

    padding: 2.5rem;

    background: #ffffff;

    border-radius: 1.25rem;

    >img {

        width: 100%;
        max-height: 18.75rem;

        border-radius: .625rem;

        margin: {
            bottom: 2.5rem;
        }

    }

    >h1 {

        font: {
            family: 'young serif';
            weight: 400;
            size: 2.5rem
        }

        color: #353130;

        margin: {
            bottom: $margin-sections;
        }

    }
}


/* Defino los estilos de la sección "Preparation time" y de los elementos h2 u li que se encuentran en su interior.*/
.section-preparationTime {

    height: 12.5rem;

    background-color: #fbf3f8;

    padding: 1.5625rem;
    border-radius: 10px;

    /* Se elimina el padding-bottom y el border-bottom que se agregaron anteriormente.*/
    border: none;
    padding-bottom: 0;

    h2 {

        font: {
            family: Outfit;
            size: 20px;
            weight: 600;
        }

        color: #653148;

        margin: {
            bottom: .9375rem;
        }
    }

    ul {

        /* Se le agrega una margin diferente al de los demas elementos ul */
        margin: {
            left: 1.25rem;
        }

        li {

            color: #653148;

        }

    }

}


/* Defino los estilos para la sección de "nutrition"... !!!!TODAVÍA NO SE HA TERMINADO.¡¡¡¡*/
.section-nutrition {

    /* Se le elimina el padding y el border que se le agrega anteriormente. */
    padding: 0;
    border: none;

}